@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.homeBackground{
  background-color: #0000001c;
  padding:1.5rem;
  backdrop-filter: blur(8px);
  height: 100%;
  border-radius: 0 0 2rem 2rem;
  @screen md {
     border-radius: 0 2rem 2rem 0;
  }

}