/*  Most commom screen size of devices that is used
    in media queries as breakpoints

    Desktop:1200px;  xl
    Laptop:1024px;  lg 
    Tablet:768px;  md        
    Phone:480px;  sm    
*/

:root {
    --desktop:1200px;  
    --laptop:1024px;  
    --tablet:768px;         
    --phone:480px; 
  }

.home-color {
    background: rgb(55,65,81);
    background: linear-gradient(180deg, rgba(55,65,81,1) 0%, rgba(55,65,81,0.7987570028011204) 50%, rgba(255,255,255,1) 100%);
}

.home-bgstyle {        
    min-width: 500px;   
    min-height: 200px;   
    max-width: 750px;      
}

.home-textbg {
    background-color: rgb(0 26 41);    
    font-size: 20px;
    padding: 10px;     
    line-height: 30px;
}

.exp-container {
    max-width: 1100px;
    text-align: center;   
}

.exp-img {
    padding: 10px !important;
}

button {
    padding-inline: 20px;
}